* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.btn {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.btn-logo {
  padding: 10px;
  background-color: transparent;
  outline: none;
}
